name: Core Builds
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build-win64:
    if: false
    name: Win64
    runs-on: windows-latest
    steps:
      - name: Checkout Files
        uses: actions/checkout@v3
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          install: git make mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-cmake
      - name: Build SDL2 and zlib
        shell: msys2 {0}
        run: |
          make -f makefile.zlib
          make -f makefile.sdl
      - name: Build hatariB
        shell: msys2 {0}
        run: make
      - name: Prepare Artifact
        shell: pwsh
        run: |
          mkdir artifact
          cp README.md artifact
          mkdir artifact/cores
          copy build/*.dll artifact/cores
          mkdir artifact/info
          copy info/*.* artifact/info
          echo "BUILD_TAG=$(git log -1 --format="%ad--%h" --date=format-local:"%Y-%m-%d-%H%M%S")" >> $env:GITHUB_ENV
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: hatarib-win64--${{ env.BUILD_TAG }}
          path: artifact/

  build-win32:
    if: false
    name: Win32
    runs-on: windows-latest
    steps:
      - name: Checkout Files
        uses: actions/checkout@v3
      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW32
          install: git make mingw-w64-i686-gcc mingw-w64-i686-cmake
      - name: Build SDL2 and zlib
        shell: msys2 {0}
        run: |
          make -f makefile.zlib
          make -f makefile.sdl
      - name: Build hatariB
        shell: msys2 {0}
        run: make
      - name: Prepare Artifact
        shell: pwsh
        run: |
          mkdir artifact
          cp README.md artifact
          mkdir artifact/cores
          copy build/*.dll artifact/cores
          mkdir artifact/info
          copy info/*.* artifact/info
          echo "BUILD_TAG=$(git log -1 --format="%ad--%h" --date=format-local:"%Y-%m-%d-%H%M%S")" >> $env:GITHUB_ENV
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: hatarib-win32--${{ env.BUILD_TAG }}
          path: artifact/

  build-ubuntu:
    if: false
    name: Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Files
        uses: actions/checkout@v3
      - name: Setup Ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install make gcc cmake
      - name: Build SDL2 and zlib
        run: |
          make -f makefile.zlib
          make -f makefile.sdl
      - name: Build hatariB
        run: make
      - name: Prepare Artifact
        run: |
          mkdir artifact
          cp README.md artifact
          mkdir artifact/cores
          cp build/*.so artifact/cores
          mkdir artifact/info
          cp info/*.* artifact/info
          echo "BUILD_TAG=$(git log -1 --format="%ad--%h" --date=format-local:"%Y-%m-%d-%H%M%S")" >> $GITHUB_ENV
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: hatarib-ubuntu--${{ env.BUILD_TAG }}
          path: artifact/

  build-macos:
    if: false
    name: MacOS
    runs-on: macos-latest
    steps:
      - name: Checkout Files
        uses: actions/checkout@v3
      - name: Setup MacOS
        run: brew install make gcc@13 cmake
        # brew's gcc has to be a specific version, make sure to update 13 above and below if upgrading
      - name: Build SDL2 and zlib
        run: |
          export CC=/usr/local/bin/gcc-13
          export CFLAGS=-mmacosx-version-min=10.13
          make -f makefile.zlib
          export CC=$(PWD)/SDL/build-scripts/clang-fat.sh
          make -f makefile.sdl
      - name: Build hatariB
        run: |
          export OS=MacOS
          export CC=/usr/local/bin/gcc-13
          export CFLAGS=-mmacosx-version-min=10.13
          export CMAKEFLAGS="-DCMAKE_C_COMPILER=/usr/local/bin/gcc-13 -DCMAKE_OSX_DEPLOYMENT_TARGET=10.13"
          gmake
      - name: Prepare Artifact
        run: |
          mkdir artifact
          cp README.md artifact
          mkdir artifact/cores
          cp build/*.dylib artifact/cores
          mkdir artifact/info
          cp info/*.* artifact/info
          echo "BUILD_TAG=$(git log -1 --format="%ad--%h" --date=format-local:"%Y-%m-%d-%H%M%S")" >> $GITHUB_ENV
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: hatarib-macos--${{ env.BUILD_TAG }}
          path: artifact/

  build-rpi:
    name: Raspberry Pi
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Files
        uses: actions/checkout@v3
      - name: Setup Ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install make gcc-arm-linux-gnueabihf cmake
      - name: Build SDL2 and zlib
        run: |
          export CC=arm-linux-gnueabihf-gcc
          make -f makefile.zlib
          make -f makefile.sdl
      - name: Build hatariB
        run: |
          export CC=arm-linux-gnueabihf-gcc
          make
      - name: Prepare Artifact
        run: |
          mkdir artifact
          cp README.md artifact
          mkdir artifact/cores
          cp build/*.so artifact/cores
          mkdir artifact/info
          cp info/*.* artifact/info
          echo "BUILD_TAG=$(git log -1 --format="%ad--%h" --date=format-local:"%Y-%m-%d-%H%M%S")" >> $GITHUB_ENV
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: hatarib-rpi--${{ env.BUILD_TAG }}
          path: artifact/
